.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
}

.row {
	margin: 0;
}

#daniel-nav {
	
}

.content {
	background-color: DarkGray;
	background-size: cover;
	width: 100%;
}

#home {
	background-image:url("../images/space.jpg");
	background-attachment:fixed;
	text-align: center;
	min-height: 100vh;
	overflow: auto;
	padding: 10px;
	
}

@media screen and (min-width: 650px) {
	.content {
		min-height: 100vh !important;
	}

	#welcome {
		margin-top: 100px !important;
		margin-bottom: 100px !important;
	}
	
	.portfolio-row {
		margin: 0 auto;
		max-width: 1300px;
		display: flex;
	}

	.social-btns {
		margin: 20px;
	}

	#about-container {
		margin-top: 100px;
		margin-bottom: 100px;
	}

}

@media screen and (min-width: 992px) {
	#about img {
		margin-top: 100px;
		width: 80% !important;
	}
}



#welcome {
	display: block;
	position: relative;
	text-align:center;
	color: Yellow;
	text-shadow: 3px 3px black;
	margin: 0 auto;
	max-width:1000px;
}

#welcome a {
	color: #DAA520;
	font-style: underline;
}

h1 {
	font-size: 4em;
}

p {
	font-size: 1.2em;
}

.social-btns-div {
	display: block;
	position:relative;
	margin: 0 auto;
	margin-bottom: 60px;
	max-width: 1000px;
}

.social-btns {
	font-size: 1.6em;
	min-width: 200px;
	text-align: center;
	margin-top: 20px;
}

#about {
	position: relative;
	background-attachment:fixed;
	background-size: cover;
	text-align: justify;
	padding: 30px;
	margin: 0;

}

#about-img-div {
	width: 100%;

}

#about img {
	position: relative;
	display: block;
	width: 200px;
	height: auto;
	margin: 0 auto;
}

#about h1 {
	text-align: center;
	font-size: 3em;
}

#portfolio {
	background-image:url("../images/universe.jpg");
	background-attachment:fixed;
	text-align: center;
	margin: 0;
}

#portfolio-header {
	margin: 50px 0px 50px 0px;
	text-shadow: 0 0 3px #fff;

}

.portfolio-row {
	display: block;
}


.portfolio-item {
	position: relative;
	margin: 0 auto;
	margin: 50px 10px 50px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 100%;
	flex: 1;
	padding: 15px;
	border-radius: 15px;
	min-height: 290px;
}

.portfolio-item a {
	color: white;
	text-decoration: none;
}

.portfolio-item img {
	border-radius: 10px;
}

#contact {
	background-attachment:fixed;
	background-size: cover;
	text-align: justify;
	padding: 30px;
	margin: 0;
}

#contact-form, 
#form-messages {
	margin: 0 auto;
	max-width: 1000px;
}

#contact-header {
	text-align: center;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#submit-btn  {
	width: 100%;
	margin: 0 auto;
}